---
- name: Start {{ docker_name }} docker container
  docker_container:
    name: '{{ docker_name }}'
    image: '{{ docker_image }}'
    network_mode: 'host'
    restart_policy: 'unless-stopped'
    pull: '{{ pull_image }}'
    devices: '{{ usb_port }}:/dev/ttyACM0'
    env:
      ROS_MASTER_URI: '{{ ros_master_uri }}'
      ROS_IP: '{{ ros_ip }}'
  register: container_status
